body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  padding-left: 73px;
  padding-right: 73px;
  height: 56px;
}

.main-header-logo {
  display: block;
  position: absolute;
  width: 140px;
  height: 72px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-navigation li {
  width: 240px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.preview {
  position: relative;
  padding: 76px 370px 82px;
  margin-bottom: 60px;
  text-align: center;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
 .features p {
   font-size: 14px;
   line-height: 26px;
   color: #333333;
   text-align: center;
 }

 .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.interested a {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 568px;
  height: 86px;
  margin: 0 auto;
}

.interested a:hover {
  background-color: #604e43;
  color: #fffff;
}

.interested a:active {
  background-color: #503e33;
  color: #857871;
}

.hotels-search label {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-search input {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.hotels-search input:hover {
  background-color: #ebebeb;
}

.hotels-search input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.hotels-search button {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.hotels-search button:hover {
  background-color: #669ec0;
}

.hotels-search button:active {
  background-color: #5496bd
  color: #88b6d1;
}

.main-footer {
  background-color: rgba(249, 251, 246, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 73px;
  text-align: center;
}

.footer-hashtag a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social li {
  list-style: none;
}

.footer-social {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 400px;
}

.footer-social li:first-child {
  margin-left: 125px;
}

.footer-social li:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px;
}

.footer-social li:last-child {
  margin-right: 125px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-hashtag,
.footer-social {
  width: 240px;
}

.footer-copyright {
  display: flex;
  text-align: center;
}

.footer-copyright b {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright a, {
  color: #231f20;
}

.footer-img {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.footer-img path {
 fill: #000000;
}

.footer-img:hover path {
 fill: #81b3d2;
}

.footer-img:active path {
 fill: #bdbbbc;
}

/* каталог */

.inner-page {
  background-color: #ffffff;

}

.site-navigation-current a {
  color: #b2b2b2;
}

.catalog .button-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog .button-info:hover {
  background-color: #669ec0;
}

.catalog .button-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.catalog .button-reserv {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.catalog .button-reserv:hover {
  background-color: #604e43;
}

.catalog .button-reserv:active {
  background-color: #503e33;
  color: #857871;
}

.catalog-list li {
  list-style: none;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: #b2b2b2;
}

.catalog-item-type,
.catalog-item-exact-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}
